* {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /*  Some browsers add a default margin. Set margin: 0 to fix */
    margin: 0;
}

/* HEADER STYLES */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top: 16px;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    font-size: 24px;
    color: #f9FaF8;
}

.links,
.hero-secondary {
    color: #c2c3c7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #1F2937;
    gap: 100px;
}

.hero-main {
    font-size: 48px;
    color: #f9FaF8;
    font-weight: bolder;
    width: 350px;
}

.hero-secondary {
    font-size: 18px;
    width: 480px;
}


.signup-button {
    cursor: pointer;
    padding: 6px 25px;
    border-radius: 8px;
    margin-top: 10px;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }
  
  /* Section 2 STYLES: "Some info"*/

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9FaF8;
    padding-bottom: 80px;
  }

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    padding: 60px;
  }

.info-imgs {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
  }

  /* Descendant combinator */
.info-imgs img {
    /* To add rounded corners, use the border radius property */
    border-radius: 25px;
    border: 3px solid #3882F6;
  }

.info .text {
    width: 230px;
    color:  #c2c3c7;
  }

  /* QUOTE STYLES */

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 120px;
  }

.text-1 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    width: 775px;
    padding-bottom: 20px;
}

.text-2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 16px;
    font-weight: bolder;
    width: 775px;
}

/* CALL TO ACTION */

.call-to-action {
    display: flex;
    background-color: #f9FaF8;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    height: 130px;
    border-radius: 10px;
    gap: 200px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    
}

.cta-header {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 2px;
}

.cta-subtext {
    color: #c2c3c7;
}

.cta-button {
    cursor: pointer;
    padding: 6px 25px;
    border-radius: 8px;
    margin-top: 10px;
    background: #3882F6;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

/*Footer Styles */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #c2c3c7;
    height: 105px;
}



  
 
